html {
  border: solid 3px red;
}
.div {
  border: solid 3px blue;
}

.div2 {
  background-color: #c2feff;
}

.float {
  border: solid 3px red;
  float: left;
  /* height: 200px; */
}
.btn {
  width: 150px;
}

.pos {
  border: solid 3px red;
  position: absolute;
}
